* {
    padding: 0px;
    margin: 0px;
}

.header {
    margin: 12px;
    padding: 12px;
    border: 10px solid #ccc;
    color: #2268c4;
}

.container {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 100%;
    height: 100vh;
    padding: 12px;
    text-align: left;
    font-size: 24px;
}

.javascript {
    background-color: yellow;

}

.git {
    background-color: red;
}

.react {
    background-color: green;
}